@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

/* body {
    background: radial-gradient(circle at bottom, rgba(75,0,90,1) 0%, rgba(255,0,255,1) 100%);
} */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#title {
  font-family: "Jersey 25", sans-serif;
}

#toggleRect {
  transition: fill .2s;
}

#toggleCircle {
  transition: cx .2s;
}

.rButton {
  fill: #28c728;
  stroke: #008f00;
  transform-origin: 296px 136px;
  transition: all 0.03s ease;
}

.cButton {
  fill: #ffff19;
  stroke: #c2c700;
  transform-origin: 296px 344px;
  transition: all 0.03s ease;
}

.uButton {
  fill: #ff1919;
  stroke: #dd0000;
  transform-origin: 504px 136px;
  transition: all 0.03s ease;
}

.nButton {
  fill: #00a7eb;
  stroke: #307e98;
  transform-origin: 504px 344px;
  transition: all 0.03s ease;
}

.playing {
  transform: scale(103%);
  fill: #73ff63;
  filter: drop-shadow(0 0 10px #73ff63);
}